.galery {
    width: 100%;
    max-width: 650px;
    height: 360px;
    background-color: black;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}

@media screen and (max-width: 500px) {
    .galery {
      height: 150px;
    }
  }
